/* App.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://i.pinimg.com/originals/1d/a3/66/1da3663ce1d7d0f6098a31a667e862b4.gif'); /* Add your background image path here */
  background-size: cover;
  background-position: center;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  filter: blur(5px); /* Apply the blur effect to the pseudo-element */
  z-index: -1;
}

.card {
  /* position: relative; 
  background-color: rgba(0, 0, 0, 0.8); 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  max-width: 500px;
  transition: transform 0.5s; */

  position: relative;
	/* width: 400px;
	min-height: 400px; */
  height: 330px;
  width: 500px;
	background: rgba(0,0,0,0.2);
	border-radius: 10px;
	/* display: flex;
	justify-content: center;
	align-items: center; */
  text-align: center;
	backdrop-filter: blur(5px);
	box-shadow: 0 25px 45px rgba(0,0,0,0.1);
	border: 1px solid rgba(255,255,255,0.5);
	border-right: 1px solid rgba(255,255,255,0.2);
	border-bottom: 1px solid rgba(255,255,255,0.2); 
}

.card:hover {
  transform: scale(1.05);
  background-color: #000000;
}

/* h1 {
  color: #333;
  font-size: 40px;
  margin-bottom: 20px;
  font-family:courier;
  text-shadow: 2px 2px 4px #fff;
} */

.glitch{
  font-size: 5rem;
  color: #fff;
  animation: glitch 750ms infinite;
  font-weight: 800;
  /*text-transform: uppercase;*/
  position: relative;
  /*font-family: 'Open Sans', sans-serif;*/
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'TheGoodMonolith', sans-serif;
  letter-spacing: 0.5rem;
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, .75), -0.025em -.05em 0 rgba(0, 255, 0, .75), 0.025em .05em 0 rgba(0, 0, 255, .75);
  }
  .glitch2Bedore{
  font-size: 5rem;
  font-weight: 800;
  /* text-transform: uppercase; */
  /*font-family: 'Open Sans', sans-serif;*/
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'TheGoodMonolith', sans-serif;
  letter-spacing: 0.5rem;
  color: white;
  } @keyframes glitch{
  0%{
  text-shadow:
  0.05em 0 0 rgba(255, 0, 0, .75),
  -0.025em -.05em 0 rgba(0, 255, 0, .75),
  0.025em .05em 0 rgba(0, 0, 255, .75);
  }
  14%{
  text-shadow:
  0.05em 0 0 rgba(255, 0, 0, .75),
  -0.025em -.05em 0 rgba(0, 255, 0, .75),
  0.025em .05em 0 rgba(0, 0, 255, .75);
  }
  15%{
  text-shadow:
  -0.05em -.025em 0 rgba(255, 0, 0, .75),
  0.025em 0.025em 0 rgba(0, 255, 0, .75),
  -0.05em -.05em 0 rgba(0, 0, 255, .75);
  }
  49%{
  text-shadow:
  -0.05em -.025em 0 rgba(255, 0, 0, .75),
  0.025em 0.025em 0 rgba(0, 255, 0, .75),
  -0.05em -.05em 0 rgba(0, 0, 255, .75);
  }
  50%{
  text-shadow:
  0.025em 0.05em 0 rgba(255, 0, 0, .75),
  0.05em 0 0 rgba(0, 255, 0, .75),
  0 -0.05em 0 rgba(0, 0, 255, .75);
  }
  99%{
  text-shadow:
  0.025em 0.05em 0 rgba(255, 0, 0, .75),
  0.05em 0 0 rgba(0, 255, 0, .75),
  0 -0.05em 0 rgba(0, 0, 255, .75);
  }
  100%{
  text-shadow:
  -0.025em 0 0 rgba(255, 0, 0, .75),
  -0.025em -0.025em 0 rgba(0, 255, 0, .75),
  -0.025em -0.05em 0 rgba(0, 0, 255, .75);
  }
  }

input {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-family:courier;
  font-size: 20px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
  transition: 0.2s;
  font-family:courier;
  margin-bottom: 20px;
}

button:hover {
  background-color: #0056b3;
}
